# Assignment - Pandas Data Analysis Practice


As you go through this notebook, you will find a **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions or statements to ensure that the notebook runs properly end-to-end. 

Some things to keep in mind:

* Make sure to run all the code cells, otherwise you may get errors like `NameError` for undefined variables.
* Do not change variable names, delete cells or disturb other existing code. It may cause problems during evaluation.
* In some cases, you may need to add some code cells or new statements before or after the line of code containing the **???**. 
* Questions marked **(Optional)** will not be considered for evaluation, and can be skipped. They are for your learning.

In [1]:
import pandas as pd

In this assignment, we're going to analyze an operate on data from a CSV file. Let's begin by downloading the CSV file.

In [2]:
from urllib.request import urlretrieve

urlretrieve('https://gist.githubusercontent.com/aakashns/28b2e504b3350afd9bdb157893f9725c/raw/994b65665757f4f8887db1c85986a897abb23d84/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x10cffbd79d0>)

Let's load the data from the CSV file into a Pandas data frame.

In [5]:
countries = pd.read_csv('countries.csv')

In [12]:
countries.head()

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495

**Q1: How many countries does the dataframe contain?**

Hint: Use the `.shape` method.

In [14]:
# The question did not specify, is it  the total number of countries with repeat or no repreat
num_countries = list(countries.shape) #shape will return a tuple 
print("The number of non-exculisve countries is {}".format(num_countries[0]))

# we can find the summary of the catagorical data to see how many unique countries we have

cat_columns = countries.select_dtypes(include='object').columns
countries[cat_columns].describe()

#num_countries = list(countries.shape)
#print("The number of non-exculisve countries is {}".format(num_countries[0]))#\

#another method?

The number of non-exculisve countries is 210

           location continent
count           210       210
unique          210         6
top     Afghanistan    Africa
freq              1        55

In [15]:
print('There are {} countries in the dataset'.format(num_countries))

There are [210, 6] countries in the dataset

**Q2: Retrieve a list of continents from the dataframe?**

*Hint: Use the `.unique` method of a series.*

In [18]:
continents = countries['continent'].unique()
list(continents)

['Asia', 'Europe', 'Africa', 'North America', 'South America', 'Oceania']

**Q3: What is the total population of all the countries listed in this dataset?**

In [25]:
#for loop option
total = 0
for i in countries['population']:
    total += i
print('The total population is {}.'.format(int(total)))
# or we simply can use the sum function
total_population = sum(countries['population'])
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.
The total population is 7757980095.

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [38]:
print('The average life expectancy across the world is {}'.format(round(countries['life_expectancy'].mean(), 2)))

The average life expectancy across the world is 73.53

**Q4: Create a dataframe containing 10 countries with the highest population.**

*Hint: Chain the `sort_values` and `head` methods.*

In [43]:
pop_sorted = countries['location'].sort_values()
top10 = []
for i in range(10):
    top10.append(pop_sorted[i])
    

most_populous = pd.DataFrame( top10,
    columns = ['top 10 highest population countries']
)
display(most_populous)

  top 10 highest population countries
0                         Afghanistan
1                             Albania
2                             Algeria
3                             Andorra
4                              Angola
5                            Anguilla
6                 Antigua and Barbuda
7                           Argentina
8                             Armenia
9                               Aruba

**Q5: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [45]:
countries['gdp'] = countries['population'] * countries['gdp_per_capita']
countries.head()

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11

In [ ]:
countries_df

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

**Q6: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [ ]:
country_counts_df = ???

In [ ]:
country_counts_df

**Q7: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [ ]:
continent_populations_df = ???

In [ ]:
continent_populations_df

Let's download another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [ ]:
urlretrieve('https://gist.githubusercontent.com/aakashns/b2a968a6cfd9fbbb0ff3d6bd0f26262b/raw/b115ed1dfa17f10fc88bf966236cd4d9032f1df8/covid-countries-data.csv', 
            'covid-countries-data.csv')

In [ ]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [ ]:
covid_data_df

**Q8: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [ ]:
total_tests_missing = ???

In [ ]:
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

Let's merge the two data frames, and compute some more metrics.

**Q9: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [ ]:
combined_df = ???

In [ ]:
combined_df

**Q10: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [ ]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [ ]:
combined_df['cases_per_million'] = ???

In [ ]:
combined_df['deaths_per_million'] = ???

In [ ]:
combined_df

**Q11: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [ ]:
highest_tests_df = ???

In [ ]:
highest_tests_df

**Q12: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [ ]:
highest_cases_df = ???

In [ ]:
highest_cases_df

**Q13: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [ ]:
highest_deaths_df = ???

In [ ]:
highest_deaths_df

**(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**